body{
    background-color: blanchedalmond;
    font-family: 'Baloo Bhai';
    font-size: 20px;
}
#box{
    display: flex;
    color: blue;
    
    padding-left: 441px;
    
}

#head{
    margin-right: 348px;
}


#login{
text-align: center;
color: black;
}

#signup{
text-align: center;
color: black;
}

#login:hover{
    color: blue;
    cursor: pointer;
}

#signup:hover{
    color: blue;
    cursor: pointer;
}

#head{
    cursor: pointer;
}

/* Navigation */
#navigation{
    background-color: grey;
    border: 2px solid ;
    border-radius: 23px;
}
.sorting:hover{
    background-color: rgb(140, 156, 162);
}
ul{
    display: flex;
    list-style: none;
}
.sorting a{
    color: black;
    text-decoration: none;
    padding: 20px 20px;
}

/* Buttons */

#arraybtn{
    display: flex;
}

#Array{
    background-color: lightblue;
    margin-top: 40px;
    padding: 10px;
    border-radius: 23px;
    
    
}
#Array:hover{
    background-color: rgb(199, 223, 232);
    cursor:pointer;
}


#run{
    background-color: lightblue;
    margin-top: 40px;
    padding: 10px 10px;
    border-radius: 15px;
    margin-left: 850px;
}

#run:hover{
    background-color: rgb(199, 223, 232);
    cursor:pointer;
}

#reset{
    background-color: lightblue;
    margin-top: 40px;
    padding: 10px;
    margin-left: 12px;
    border-radius: 15px;
}

#reset:hover{
    background-color: rgb(199, 223, 232);
    cursor:pointer;
}

#btnsec{
    padding-left: 50px;
}

.popup{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 130%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.popup-content{
    height: 250px;
    width: 500px;
    background: #ffff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close{
    position: absolute;
    top: -15px;
    right: -15px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.label{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    
}

.input{
    width: 300px;
}

.btn{
    background-color: green;
    border-radius: 5px;
    position: relative;
    bottom: -40px;
    width: 100px;
}

.range{
    margin-top: 40px;
    margin-right: 90px;
    text-align: justify;
    padding-left: 52px;
}

 .slider{
    color: red;
    margin-top: 70px;
    margin-left: -169px;
} 
